@import url(reset.scss);
@import url(fonts.scss);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  color: #cecece;
}

p {
  color: #fff;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(rgba(32, 32, 32) 1px, rgb(16, 16, 16) 1px);
  background-size: 1.1rem 1.1rem;

  .page-card {
    backdrop-filter: blur(1px);
    border-radius: 1rem;
    border: 1px solid rgb(48, 48, 48);
    box-shadow: 0.05em 0.05em 1em rgba(255, 255, 255, 0.1);

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    height: 100%;

    h1 {
      margin: 0;
      padding: 0;
    }
  }

  h1.title {
    color: #cecece;
    letter-spacing: 0.075em;
    text-align: center;
  }
}

@import url(app.scss);
