//add css reset
@import url(reset.scss);
//add font classes
@import url(fonts.scss);

/* Main app styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  color: #cecece;
}

p {
  color: #fff;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(rgba(32, 32, 32) 1px, rgb(16, 16, 16) 1px);
  background-size: 1.1rem 1.1rem;
}

//reusable component styles
@import url(app.scss);
@import url(buttons.scss);
@import url(inputs.scss);
@import url(selects.scss);